<?xml version="1.0" encoding="utf-8" ?>

<frameworkConfig xmlns="http://www.infosky.com.cn/web"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <add name="CoherenceCacheServer"><![CDATA[172.21.126.174]]></add>
  <add name="IsOpenRollingLog"><![CDATA[true]]></add>
  <add name="hessianHttpServer"><![CDATA[http://172.21.129.31:7003]]></add>

  <add name="JsBaseDirectoryPath"><![CDATA[C:\InfoSky\resource\js\ud]]></add>
  <add name="EveryDayStartTime"><![CDATA[00:00:01]]></add>
</frameworkConfig>